@import "tailwindcss";

@theme {
  --font-helvetica: "Helvetica", sans-serif;
  --font-sora: "Sora", sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background: #0d0618;
}
